

<mat-drawer-container class="mat-drawer-container" autosize>
  <mat-drawer #drawer class="sidenav" mode="side" [opened]="true">
      <div class="logo-container">
        PLATZ FÜR LOGO
      </div>

      <ul class="menu-items">
        <li><mat-icon>dashboard_customize</mat-icon>Dashboard</li>
        <li><mat-icon>face</mat-icon>User</li>
      </ul>
  </mat-drawer>

  <div class="example-sidenav-content">   

    <mat-toolbar color="primary">
   
      <button mat-icon-button class="example-icon"  (click)="drawer.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <span>Simple CRM</span>
      <span class="example-spacer"></span>
    </mat-toolbar>

    
  </div>

</mat-drawer-container>