.user-detail-header {
    min-height: 250px;
    background-color: tomato;
    color: white;
    display: flex;
    align-items: flex-end;

    img {
        height: 120px;
        width: 120px;
        object-fit: cover;
        border-radius: 100%;
    }
}

.user-details {
    margin-left: 32px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    height: 120px;

    h1, h3 {
        margin-bottom: 0;
    }
}

.pin-right-upper-corner {
    position: absolute;
    top: 0;
    right: 0;
}

.delete-user-icon {
    position: absolute;
    right: 56px;
    bottom: 56px;
}