<div class="dialog-container">
    <mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>
    <h1 mat-dialog-title>Add a comment</h1>

    <mat-form-field appearance="outline" class="width-400">
        <mat-label>Annotation</mat-label>
        <textarea  matInput [(ngModel)]="user.comment"
        cdkTextareaAutosize
        #autosize="cdkTextareaAutosize"
        cdkAutosizeMinRows="10"
        cdkAutosizeMaxRows="10"
       
        ></textarea>
    </mat-form-field>

    <div mat-dialog-actions>
        <button [disabled]="loading" (click)="dialogRef.close()" mat-button >Cancel</button>
        <button [disabled]="loading" (click)="saveComment()" mat-button  cdkFocusInitial>Save</button>
      </div>

</div>
